
body {
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    
}

/* Top Navigation */
.top-navigation {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.top-navigation #name {
    font-size: 24px;
    line-height: 1.5rem;
    height: 100%;

    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.top-navigation #active {
    background-color: rgb(55, 201, 242);
    color: rgb(255, 255, 255);
}
.top-navigation nav {
    display: flex;
}

.top-navigation a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
    border-left: 2px solid rgb(255, 255, 255);
    display: inline-block;

}

.top-navigation a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    /* Changing the display property to block on hover has a cool effect but is not working when hovering a link that would no longer be at the same place anymore*/

}

#name a {
    border-left: none;
    
}
